.Nav_wrapper{
    width: 55px;
}
.logo{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dde3ee;
    margin-bottom: 25px;
}
.logo img{
    width: 70%;
}
.nav__list{
    list-style: none;
    padding: 0;
}
.nav__list-item{
    height: 45px;
    width: calc(100% - 6px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    font-size: 20px;
    padding-left: 3px;
    padding-right: 3px;
    color: #323a57;
    cursor: pointer;
}
.active, .nav__list-item:hover{
    background-color: #f7fdfe;
    color:#61d5df;
    border-left: 3px solid #61d5df;
    padding-left: 0;
    /*width: 52px;*/
}
.nav__list-item img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    /*object-fit: cover;*/
}
.img--frame{
    border-radius: 50%;
    overflow: hidden;
    width: 35px;
    height: 35px;
    border: 2px solid #61d5df;
    display: flex;
    justify-content: center;
    align-items: center;
}