.main_wrapper{
    height: calc(100vh - 165px);
    background-color: #f8f9fa;
    width: auto;
    padding: 22px 30px;
    display: grid;
    grid-gap: 25px;
    /*grid-template-columns: repeat(2, auto);*/
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(465px, auto);
    flex-grow : 1;
    overflow-y: scroll;

    overflow-x: hidden;
}


@media only screen and (min-width: 1600px) {
    .main_wrapper{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width: 1599px) {
    .main_wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 935px) {
    .main_wrapper{
        width: auto;
        /*height: auto;*/
    }
}

@media only screen and (max-width: 1366px) {
    .main_wrapper{
        width: auto;
        grid-template-columns: repeat(2, 1fr);
        /*height: auto;*/
    }
}
@media only screen and (max-width: 640px) {
    .main_wrapper{
        grid-template-columns: 1fr;
    }
}