.Header{
    height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    min-width: 0;
}
.header_wrapper{

    min-width: 0;
}
.Header__sort-filter{
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbe0f3;
}
.sort p{
    display: flex;
}
@media only screen and (max-width: 315px) {
    .Header__search{
        flex: none;
        width: 50px !important;
    }
    .nav_sort{
        flex: none !important;
        min-width: 300px;
    }
}
@media only screen and (max-width: 530px) {
    .selected__products-number p{
        display: none;
    }
    .button--small, .Search{
        /*min-width: 0;*/
        /*margin: 0;*/
        /*width: auto;*/
        /*margin-left: 25px;*/
        flex: none;
        margin-left: 0;
        margin-right: 5px;
    }

    .aside__filter-small{
       /*margin-right: 5px;*/
    }
    .aside__filter-small button{
        /*display: flex;*/
        /*flex:none;*/
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 1175px) {
    .selected__products-number p{
        text-indent: -9999px;
        line-height: 0;
    }
    .selected__products-number p:after {
        content:'269,921 products';
        text-indent: 0;
        display: block;
        line-height: initial;
        width: 90px;
        /*margin-right: 10px;*/
        /*flex:none;*/
    }
    .selected__products-number{
        flex:none;
    }
}