body{
    overflow: hidden;
}
.App{
    display: flex;
    /*overflow: hidden !important;*/
}
.nav_sort{
    width: 100%;
    display: flex;
    color: #cac7c7;
    font-size: 14px;
    justify-content: flex-start;
    margin-left: 50px;
    position: relative;
}
.nav_sort span{
    margin-left: 10px;

}
ul{
    list-style: none;
    padding: 0;
}
.dropdown{
    padding: 0;
    margin: 0;
    width: 200px;
    display: none;
}
li .sort{
    width: 10px;
    height: 10px;
}
.sort__list{
    width: 250px;

}
.sort{
    width: 100%;
    display: flex;
    cursor: default;
}
ul li ul{
    position: absolute;
    top: 62px;
    display: none;
    z-index: 10000;
    background-color: #f9fbfe;
}

.visible{
    visibility: visible;
    opacity: 1;
    display: block;
}
.FontAwesomeIcon{
  color: #b6b9ca;
}
.FontAwesomeIcon--darker{
    color: #81868f;
}
.dropdown li{
    border: 1px solid #e5e7e9;
    border-top: none;
}
.dropdown .active, .dropdown li:hover{
    background-color: #edf2fb !important;
}
.sortBy{
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.sorted{
    width: auto;
    margin-right: 10px;
}
.dropdown p{
    padding: 8px;
    text-decoration: none;
    color: #2b353f;
    cursor: default;
    width: 100%;
    height: 100%;
    margin: 0;
}
.sort{
    color: #cac7c7;
    outline: none;
    border: none;
    font-size: 14px;
    top: 34px;
    z-index: 200;
}
.catalog{
    width: 100%;
    display: flex;
    flex-flow: column;

    min-width: 0;
}
.button, .button--small{
    color: #FFF;
    background-color: #61d5df;
    border: none;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 900;
    font-family: 'GilroyBold';
    padding: 10px 14px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    margin-right: 18px;
    margin-left: 50px;
    flex: none;
}
.button--big{
    /*padding: 15px 14px;*/
    margin-right: 12px;
    margin-left: 0;
    height: 40px;
}
.button--Ultra-Big{
    margin: 0;
    height: 40px;
    width: 230px;
    font-size: 15px;
    font-family: inherit;
    font-weight: 300;
}
.button--extra-Big{
    margin: 0;
    font-size: 18px;
    font-family: Gilroy-bold;
    font-weight: 300;
    width: 275px;
    height: 45px;
    text-transform: capitalize;
}
.button--small{
    margin-left: 8px;
    font-size: 20px;
    width: 45px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#clearBTN--invisible{
    margin: 0 0 0 10px;
    display: none;
}
#clearBTN--visible{
    margin: 0 0 0 10px;
    display: block;
}
.selected__products-number-small, .aside__filter-small{
    display: none;
}
.selected__products-number{
    /*padding: 7px 7px;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: none;
    margin-right: 10px;
}

.selected__products-number p{
    height: 22px;
    font-size: 11.5px;
    border-left:  1px solid #dbdcdc;
    color: #2c334d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected__products-number p{
    padding-left: 13px;
}
.nav-search{
    display: flex;
    align-items: center;
    min-width: 0;
    /*flex-shrink: inherit;*/
}
.Header__search{
    height: 70px;
    display:flex;
    align-items: center;
    background-color: #f8f9fa;
    min-width: 0;
}
.Search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 38px;
    max-width: 430px;
    min-width: 0;
    border:  1px solid #dae2f0;
    border-radius: 8px;
    margin-right: 12px;
    background-color: #e8f0fe;
}
.Search__products{
    height: 38px;
    width: 400px;
    border-radius: 10px;
    outline: none;
    border:  none;
    padding: 0 16px;
    background-color: #e8f0fe;
    min-width: 0;
    /*font-family: FontAwesome;*/
}
.Search__products::placeholder{
    color: #000;
}
.Search__ICON {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 38px;
    background: #e8f0fe;
    font-size: 20px;
    color: #d5d3d3;
    min-width: 0;
}
.help__BTN{
    background: #FFF;
    height: 25px;
    width: 25px;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    color:  #49547d;
    /*margin-right: 115px;*/
    /*min-width: 0;*/
}
.menu__BTN {
    background: #f8f9fa;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border: none;
}
.menu{
    width: 50px;
    /*display: flex;*/
    /*justify-content: flex-start;*/
    min-width: 0;
    margin-right: 10px;
    display: none;

}
.help{
    width: 125px;
    display: flex;
    justify-content: flex-start;
    min-width: 0;
}
.help__BTN:hover{
    box-shadow:  0 0 12px #49547d;
}
.product__item{
    background-color: #FFF;
    border: 1px solid #e4e5ec;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    margin: 1px;
    /*max-width: 475px;*/
    /*max-height: 475px;*/
    /*visibility: hidden;*/
}
/*.product__item-clicked{*/
/*    !*visibility: hidden;*!*/
/*    display: none;*/
/*}*/
/*.product__item--highlighted-clicked{*/
/*    !*visibility: hidden;*!*/
/*    display: none;*/
/*}*/
.product--opened-clicked{
    position: relative;
   /* top: 0;*/
   /*bottom: 0;*/
   /* right: 500px;*/
   /* left: 500px;*/
    width: 1165px;
    height: 600px;
    z-index: 1000;
    border-radius: 10px;
    background-color: white;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*opacity: 1;*/
}
.product--opened{
     position: unset;
    /*width:0;*/
    height: 100%;
     top: 0;
     bottom: 0;
     right: 100px;
     left: 100px;
     z-index: 1000;
     background-color: transparent;

 }
.transparent{
    display: none;
}
.transparent-clicked{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 55px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow-y: hidden;*/
    /*overflow: hidden;*/
    /*background-image: url("./images/transparent.png");*/
    /* background-color: rgba(42,54,104, 0.05);*/
    /*background-color: blue;*/
    background-color: rgba(73,84,125, 0.7);
   /* background-color: rgba(65, 0, 0, 0.8);*/
   /* opacity: 1%;*/

}
.item{
    display: none;
}
.item-clicked{
    border-radius: 10px;
    display: flex;
   height: 100%;
    width: 100%;
    box-sizing: border-box;
    /*padding: 15px;*/
}
.item--info{
    border-radius: 10px;
    width: 500px;
    height: 100%;
    padding: 15px;
    /*height: 100vh;*/
    background-color: #fbfbfb;
    box-sizing: border-box;
}
.item--description{
    width: 665px;
   display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    /*background-color: blue;*/
}
.item--description p{
    width: 575px;
    /*margin: 0;*/
}
.item--price{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}
.catalog__price-zoomed{
    /*width: 100px;*/
    display: flex;
    /*justify-content: space-between;*/
    /*padding: 30px 20px 20px;*/
    box-sizing: border-box;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: 0 5px 5px 1px #f3f3f3;
    padding: 10px;
}
/***********/

/**********/
.catalog__price-zoomed .RRP, .catalog__price-zoomed .Profit, .catalog__price-zoomed .Cost {
    /*padding-right: 50px;*/
    width: 130px;
}
.catalog__price-zoomed  .RRP .separator, .catalog__price-zoomed  .Cost .separator, .catalog__price-zoomed .Profit .separator{
    border-left: 1px solid #FFF;
    box-shadow: 0 5px 5px 1px #f6f6f6;
    margin: 8px 0;
}
.catalog__price-zoomed p{
    margin: 0;
    color: #6f6f6f;
    font-weight: 300;
}
.catalog__price-zoomed p:nth-child(1){
    margin-top: 0;
    font-size: 20px;
}
.catalog__price-zoomed p:nth-child(2){
    color: #9f9f9f;
    text-transform: uppercase;
}
.copy{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}
.item--image{
height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.zoom-wrapper{
    display: inline-block;
    overflow: hidden;
}
.item--image img{
    height: 340px;
    width: 340px;
    object-fit: contain;
}
.item--image img:hover {
    transform:scale(2);
    -ms-transform:scale(2);
    -moz-transform:scale(2);
    -webkit-transform:scale(2);
    -o-transform:scale(2);
}
.item--supplier{
   text-transform: capitalize;
    color:#757575;
}
.item--supplier a{
    text-decoration: none;
    color: #61d5df;
    font-weight: 400    ;
}
.closeModal{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.closeModal button{
    background-color: #FFF;
    border: none;
    color: #4e4e4e;
    font-size: 15px;
}
.copy span:nth-child(1){
    color: #a8a8a8;
}
.addToInventory{
    width: 575px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.title{
    font-family: Gilroy-bold;
    font-size: 23px;
    font-weight: 700;
    color: #3b3b3b;
    line-height: 1;
    margin-top: 0;
}
.desc{
    font-weight: 300;
    color: #737373;
    line-height: 1.8;
    margin: 0;
}
.description__wrapper{
    height: 170px;
    overflow-y: scroll;
}
.description__wrapper::-webkit-scrollbar {
    width: 5px;
}
.description__wrapper::-webkit-scrollbar-thumb {
    background: #696e78;
    border-radius: 10px;
}
.details{
    width: 575px;
    /*height: 60px;*/
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
.details p{
    width: 300px;
    display: flex;
    justify-content: space-between;
    color: #b6b6b6;
    text-transform: capitalize;
    margin: 0;
}
.details span{
    display: block;
    padding-bottom: 25px;
    /*border-bottom: 1px solid #FFF;*/
}
#activeOpt, .details span:hover{
  color: #616161;
    padding-bottom: 24px;
    border-bottom: 1px solid #616161;
}
.transparent{
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: transparent;
    box-sizing: border-box;
    min-width: 0;
}
.product__item:hover{
    margin: 0;
    border: 2px solid #61d5df;
}
.product__item--highlighted{
    margin: 0;
    border: 2px solid #61d5df;
}
.product--head{
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /*padding: 13px;*/
    -webkit-box-pack: justify;
    justify-content: space-between;
    /*padding: 13px;*/
    opacity: 0;
    /*opacity: 1;*/
    /*position: relative;*/
        position: absolute;

    /*z-index: 1;*/

}
.product--head--visible{
    opacity: 1;
    /*position: absolute;*/

}
.product--head--visible input{
    position: absolute;
    z-index: 100;
    /*top: 13px;*/
    /*left: 13px;*/
}
.product--head--invisible{
    opacity: 0;
    width: 100%;
    height: 100%;
    /*position:  absolute;*/
    /*box-sizing: border-box !important;*/
    /*right: 0px;*/
}
.product--head--invisible button{
    position:  absolute;
    top: 0;
    right: 0;
}
.product--head--invisible:hover{
    opacity: 1 !important;
}
.product--head:hover{
    opacity: 1;
}
.catalog__product{
    /*position: relative;*/
    /*bottom: 315px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    /*box-sizing: border-box;*/
/*object-fit: cover;*/
}
.catalog__photo {
    /*width: 100%;*/
    /*height: 73%;*/
    width: 100%;
    height: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /*object-fit: cover;*/
    background-color: #fbfbfb;
    box-sizing: border-box;
    border-radius: 8px;
}
.catalog__photo img{
    /*width: 100%;*/
    /*height: 50%;*/
    /*box-sizing: border-box !important;*/
    width: 300px;
    height: 250px;
    object-fit: contain;
}
.catalog__price{
    /*width: 70%;*/
    display: flex;
    justify-content: flex-start;
    /*justify-content: space-between;*/
    padding: 30px 20px 20px 5px;
    box-sizing: border-box;

}
/*.cost{*/
/*    padding-right: 0!important;*/
/*}*/
.catalog__title{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px 20px;
}
.catalog__title p{
    text-transform: uppercase;
    color: #3b3b3b;
    font-size: 15px;
    margin: 0;
    /*font-family: Gilroy-bold, serif;*/
    /*font-weight: 100;*/
    /*margin: 10px 15px;*/
}
.RRP,.Profit, .Cost{
    box-sizing: border-box !important;
    /*padding-right: 30px;*/
    width: 100px;
    padding-left: 15px;
    /*flex: none;*/
}
.Profit, .Cost{

    /*margin-right: 15px;*/
    /*width: 100%;*/
    /*width: 60px;*/
    /*margin-left: 45px;*/
    position: relative;
}
.separator{
    position: absolute;
    margin: 14px 0;
    top:0;
    bottom: 0;
    left: 0;
    border-left: 1px solid #f0e4e4;
}
.catalog__price p{
    margin: 0;
    color: #6f6f6f;
    font-weight: 300;
    /*font-family: Gilroy-bold;*/
    letter-spacing: -1px;
}
.catalog__price p:nth-child(1){
  font-size: 20px;
}
.catalog__price p:nth-child(2){
    color: #9f9f9f;
    text-transform: uppercase;
}
.Cost p:nth-child(1){
    color: #61d5df;
}
.supplier{
    width: 100%;
}
.supplier p{
    width: 100%;
    margin: 0;
    padding-left: 20px;
    box-sizing: border-box;
    color: #848484;
    font-weight: 300;
}
.supplier a{
    color: #61d5df;
    font-weight: 300;
}

.btn-area button{
    /*margin: 0;*/
    margin-top: 15px;
    margin-right: 15px;
    /*position: relative;*/
}
.btn-area--invisible{
   opacity: 0;
}
.checkbox-cont input{
    /*margin: 0;*/
    margin-left: 20px;
    margin-top: 20px;
    content: url("./images/uncheck.jpeg");
    width: 20px;
    height: 20px;
    outline: none;
    border:none;
}
.checkbox-cont input:checked {
    content: url("./images/check.png");
}
.product-image{
    width: 100%;
    height: 100%;
    background-image: url("./images/check.png");
}